@model Department


<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Edit Department Info</h2>

        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Department ID</label>
                <div class="col-sm-8">
                    <input class="form-control-plaintext" readonly value="@ViewData["DepId"]"/>
                </div>
            </div>
            
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Department Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="DepName" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Manager</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="DepManager" />
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <input type="submit" value="Confirm Changes" class="btn btn-primary" />
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Department" asp-action="Index" role="button">
                        Cancel
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>